<%= form_with model: book do |form|%>

<div>
  <p><%= form.label :name, 'Название' %></p>
  <p><%= form.text_field :name, class: 'form-text-field' %></p>
  <% book.errors.full_messages_for(:name).each do |message| %>
    <p class="mt-sm text-red "><%= fa_icon('exclamation-triangle') + ' ' + message %></p>
  <% end %>
</div>

<div>
  <p class="mt"><%= form.label :author, 'Автор' %></p>
  <p><%= form.text_field :author, class: 'form-text-field' %></p>
  <% book.errors.full_messages_for(:author).each do |message| %>
    <p class="mt-sm text-red "><%= fa_icon('exclamation-triangle') + ' ' + message %></p>
  <% end %>
</div>

<div>
  <p class="mt"><%= form.label :language, 'Язык изучения' %></p>
  <p><%= form.text_field :language, class: 'form-text-field' %></p>
  <% book.errors.full_messages_for(:language).each do |message| %>
    <p class="mt-sm text-red "><%= fa_icon('exclamation-triangle') + ' ' + message %></p>
  <% end %>
</div>

<div>
  <p class="mt"><%= form.label :level, 'Уровень языка' %></p>
  <p><%= form.text_field :level, class: 'form-text-field' %></p>
  <% book.errors.full_messages_for(:level).each do |message| %>
    <p class="mt-sm text-red "><%= fa_icon('exclamation-triangle') + ' ' + message %></p>
  <% end %>
</div>

<div>
  <p class="mt"><%= form.label :description, 'Описание' %></p>
  <p><%= form.text_area :description, class: 'form-text-area' %></p>
  <% book.errors.full_messages_for(:description).each do |message| %>
    <p class="mt-sm text-red "><%= fa_icon('exclamation-triangle') + ' ' + message %></p>
  <% end %>
</div>

<div>
  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %></p>
</div>

<% end %>
